#!/bin/bash

. "$(brew --prefix asdf)/libexec/asdf.sh"

for plugin in golang nodejs python ruby rust; do
  if ! asdf plugin list | grep -q "$plugin"; then
    echo ">> Adding asdf plugin: $plugin"
    asdf plugin add "$plugin"
  fi
done
